* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    color: white;
    background-color: #151c39e8;
    padding: 20 px;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 2;
}
.menu-item {
    list-style: none;
}
.menu-link {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* Banner */

.banner-section {
    background-image: url(img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 157px;
    padding: 100px 0;
}
.banner-title {
    font-size: 48px;
}
.banner-title , .banner-desc {
    text-align: center;
    color:white;
}
/* Cards */

.cards-section {
    padding: 50px 0;
}
 .cards-title, .cards-desc {
    color:#151c39e8;
    text-align: center;
}
.card {
    background: white;
    width: 25%;
    padding: 25px;
    margin-top: 25px;
    text-align: center;
    box-shadow: 0px 2px 7px 0 #9e90ff;
}
.card-link {
    text-decoration: none;
    color: white;
}
.card-button {
    text-align: center;
    background: #151c39e8;
    padding: 10px 70px;
    border-radius: 10px;
}
.card-title, .card-text {
    margin-bottom: 10 px;
}
.card-button {
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 10px 30px 0 #9e90ff;
}
.footer{
    background: url(img/footer-bg.jpg);
    background-size: cover;
    padding: 50px 0px;
    margin: 25px 0px;
}
.copyright{
    color: white;
}
.card-img2{
    width:250px;
}